{% load bootstrap4 %}
{% load posts_templatetag %}
{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'all' %}
<div class="card col-3 my-3">
{% else %}
<div class="card">
{% endif %}
    {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
    {% else %}
    <img src="https://picsum.photos/id/{{ post.id }}/280/200" class="card-img-top" alt="...">
    {% endif%}
    <div class="card-body">
        <h5 class="card-title">{{ post.id }}</h5>
        <p class="card-text"><a href="{% url 'accounts:user_page' post.user.id %}"><strong>{{ post.user.username }}</strong></a> {{ post|hashtag_link|safe }}</p>
        <span id="like-count-{{post.id}}">{{post.like_users.count}} 명이 좋아합니다</span>
        <p class="text-right">
            {% if post.user == user or user.id == 1 %}
            <a class="btn btn-primary" href="{% url 'posts:update' post.id %}" role="button">수정</a>
            <a class="btn btn-danger" href="{% url 'posts:delete' post.id %}" role="button">삭제</a> {% endif %}
        </p>
        {% if user in post.like_users.all %}
        <i class="fas fa-heart-broken like-heart" data-id="{{post.id}}"></i>
        {% else %}
        <i class="fas fa-heart like-heart" style="color:red" data-id="{{post.id}}"></i>
        {% endif %}
        <form action="{% url 'accounts:follow' post.user.id %}">
            {% if user in post.user.follower.all %}
            <button type="submit" class="btn btn-outline-danger">팔로우 취소 <i class="fas fa-heart-broken"></i>{{ post.user.follower.count }}</button>
            {% else %}
            <button type="submit" class="btn btn-outline-primary">팔로우 <i class="fas fa-heart"></i>{{ post.user.follower.count }}</button>
            {% endif %}
        </form>
    </div>

	{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'all' %}
    <!--댓글 출력-->
    <div class="card-body">
        {% for comment in post.comment_set.all %}
        <strong>{{ comment.user }}</strong>
        <p>{{ comment.content }}</p>
        {% empty %}
        <p>댓글이 없습니다</p>
        {% endfor %}
    </div>
    <!--댓글 폼 시작-->
    <div class="card-body">
        <form action="{% url 'posts:comment_create' post.id%}" method="post">
            {% csrf_token %} {% bootstrap_form comment_form %}
            <button type="submit" class="btn btn-outline-primary">댓글등록</button>
        </form>
    </div>
    <!--댓글 폼 끝-->
	{% endif %}
</div>