{% load bootstrap4 %}
<div class="card">
	{% if post.image %}
		<img src="{{ post.image.url }}" class="card-img-top" alt="...">
	{% else %}
		<img src="https://picsum.photos/id/{{ post.id }}/280/200" class="card-img-top" alt="...">
	{% endif%}
	<div class="card-body">
		<h5 class="card-title">{{ post.id }}</h5>
		<p class="card-text"><strong>{{ post.user.username }}</strong> {{ post.content }}</p>
		<p class="text-right">
			{% if post.user == user or user.id == 1 %}
			<a class="btn btn-primary" href="{% url 'posts:update' post.id %}" role="button">수정</a>
			<a class="btn btn-danger" href="{% url 'posts:delete' post.id %}" role="button">삭제</a>
			{% endif %}
		</p>
		<form action="{% url 'posts:likes' post.id %}">
		{% if user in post.like_users.all %}
			<button type="submit" class="btn btn-outline-danger">좋아요취소 <i class="fas fa-heart-broken"></i> {{ post.like_users.count }}</button>
		{% else %}
			<button type="submit" class="btn btn-outline-primary">좋아연 <i class="fas fa-heart" style="color:red"></i> {{ post.like_users.count }}</button>
		{% endif %}
		</form>
	</div>
	<!--댓글 출력-->
	<div class="card-body">
		{% for comment in post.comment_set.all %}
			<strong>{{ comment.user }}</strong>
			<p>{{ comment.content }}</p>
		{% empty %}
			<p>댓글이 없습니다</p>
		{% endfor %}
	</div>
	<!--댓글 폼 시작-->
	<div class="card-body">
		<form action="{% url 'posts:comment_create' post.id%}" method="post">
			{% csrf_token %}
			{% bootstrap_form comment_form %}
			<button type="submit" class="btn btn-outline-primary">댓글등록</button>
		</form>
	</div>
	<!--댓글 폼 끝-->
</div>